@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*{
    font-family: "Ubuntu";
}


/* Navbar */

.navbar-nav a{
    font-size: 18px;
}

/* Hero */

.card-img{
    object-fit: cover;
    height: 90vh;
}

.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Products */

.card-img-top{
    object-fit: contain;
}


.btn-reset{
    width: 300px;
    margin: 50px 0 0 40%;
}

.quantity{
    margin-left: 70%;
}